{% extends "base.html" %}

{% block titulo %} Agregar autor {% endblock %}

{% block contenido_principal %}

  <h2>Agregar canción</h2>

  <form class="form-horizontal" method="post" action="/autores/agregar">

    <div class="form-group">
      <label class="control-label col-sm-2" for="nombre">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="nombre" placeholder="Nombre del autor"/>
      </div>
    </div>

      <div class="form-group">
          <label class="control-label col-sm-2" for="grupo">Grupo:</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" name="grupo" placeholder="Grupo del autor"/>
          </div>
      </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="rol">Rol del autor:</label>
      <div class="col-sm-10">
		<select class="form-control" name="rol">
		  <option value="cantante">Cantante</option>
		  <option value="bateria">Bateria</option>
		  <option value="guitarrista">Guitarrista</option>
		  <option value="bajista">Bajista</option>
		  <option value="telista">Teclista</option>
		</select>
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
    </div>
  </form>

{% endblock %}